<section class="s_services__intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <div class="p_title">{{ title }}</div>
                <a data-target="#name_phone_file" data-toggle="modal" class="btn" data-replace-target='#name_phone_file [data-name="form"]' data-replace-value="Заявка с страницы услуги ({{ title }}) на оценку работ" >{{ btn_text }}</a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <div class="s_services__intro__img">
                    <img src="{{ img }}" alt="{{ title }}">
                </div>
            </div>
        </div>
    </div>
</section>