<footer class="footer">
    <div class="container">
        <div class="row header__top">
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <p>{{ address }}</p>
                <p>{{ working_hours }}</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg col-xl">
                <nav class="header__nav">
                    {% include './blocks/base/navigation.twig' %}
                </nav>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-auto col-xl-auto">
                <div class="header__messengers">
                    {% include './blocks/details/social.twig' %}
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="header__tel">
                    <a href="tel:{{ phone }}">{{ phone }}</a>
                </div>
            </div>
        </div>
        <div class="footer__info">
            {{ footer_content }}
        </div>
    </div>
</footer>
</div>
{{ wp_footer() }}
{% include './blocks/base/modal.twig' %}

</body>
</html>