<ul id="menu-menu" class="">
    <li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-180">
        <a href="{{ get_page_link(76) }}">Каталог</a>
    </li>
    <li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-180">
        <a >Услуги</a>
        <ul class="sub-menu">
            {% for item in get_pagesServices() %}
                <li id="menu-item-{{ item.ID }}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182">
                    <a href="{{ get_page_link(item.ID) }}">{{ item.post_title }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82">
        <a href="{{ get_page_link(82) }}">Контакты</a>
    </li>
</ul>